.post-license
  display: block
  background-color: var(--color-background-code)
  border-radius: 5pt
  padding: 1rem

.post-license-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: center
  gap: 1rem

.post-license-logo
  display: block
  margin-bottom: 0